# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.env.*
*.sqlite3

# Node
node_modules/
dist/
dist-ssr/
build/
*.local

# Contracts / Blockchain
artifacts/
cache/

# Logs
*.log
logs/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Misc
.DS_Store
Thumbs.db